/*------------------------------------------------------------------

COLOR:	DEFAULT BLANK CSS (NO ANY CODE)

-------------------------------------------------------------------*/
.main_banner_1 {
	font-size:18px;
	color: #454545;
	margin-bottom:5px;
	padding:0px;
}

.main_banner_2 {
	font-size:24px;
	font-weight:bold;
	color: #fff;
	padding:15px 0 0 0;
	line-height:25px;
}

.main_banner_3 {
	font-family: NanumGothic;
	font-size:18px;
	color: #454545;
	margin-right: auto;
	margin-left: auto;
	width: 594px;
	border-top: 1px solid #5e6870;
}

p.b_txt01{
	clear:both;
	font-family: NanumGothic;
	font-size:15px;
	color: #c8cacc;
	margin-right: auto;
	margin-left: auto;
	margin-bottom:30px;
	font-weight:600;

}

.b {
	font-weight:bold;
	color:#333;
}